.container{
    display:flex;
    font-size: 20px;
    width:100%;
    height:auto;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.hours{
    display:flex;
    box-sizing: border-box;
    padding: 2%;
    margin-right: 10px;
    width:10%;
    height:auto;
    justify-content: center;
    border-radius: 10%;
    border: 1px solid #9370DB;
    box-shadow: 3px 3px 7px 3px rgba(147,112,219,0.75);
}

@media only screen and (max-width:600px){
    .container{
        display:flex;
        font-size: 20px;
        width:90%;
        height:auto;
        justify-content: space-between;
        margin: 10px 0 10px 0;
        align-self: flex-end;
    }
    .hours{
        display:flex;
        box-sizing: border-box;
        /* padding: 2%; */
        /* margin-right: 10px; */
        width:30%;
        height:auto;
        justify-content: center;
        border-radius: 10%;
        border: 1px solid #9370DB;
        box-shadow: 3px 3px 7px 3px rgba(147,112,219,0.75);
    }
    .hours:nth-child(1){
        margin-left:2%;
    }
}