.headerContainer{
    display:flex;
    width:100%;
    height:auto;
    background-color: mediumpurple;
}
.logo{
    display:flex;
    width:25%;
    height:auto;
    justify-content: center;
}
.midNav{
    display: flex;
    width:50%;
    height:auto;
    justify-content: flex-start;
}
.rightNav{
    display:flex;
    width:25%;
    height:auto;
    justify-content: end;
}
