.headerContainer{
    display:flex;
    width:100%;
    height:auto;
    background-color: mediumpurple;
}
.logo{
    display:flex;
    width:25%;
    height:auto;
    justify-content: center;
}
.midNav{
    display: flex;
    width:50%;
    height:auto;
    justify-content: flex-start;
}
.rightNav{
    display:flex;
    width:25%;
    height:auto;
    justify-content: flex-end;
}
@media only screen and (max-width:600px){
    .headerContainer{
        display:flex;
        width:100%;
        height:auto;
        padding:5px;
        background-color: mediumpurple;
    }
    .midNav{
        display:none;
    }
    .rightNav{
        display:none;
    }
    .logo{
        width:90%;
    }
    .menuIcon{
        width:10%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}