
.elContainer{
    display:flex;
    width:10%;
    height:auto;
    margin-right:10px;
    background-color: white;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
.elContainer input{
    outline:none;
    padding: 0px !important;
    border-width: 0px !important;
    border-color:white !important;
    width:100%;
    border-radius: 10%;
    height:90px;
    font-size: 1.7em;
    text-align: center;
    font-weight:700;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}