
.elContainer{
    display:flex;
    width:15%;
    height:auto;
    margin-right:10px;
    background-color: white;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
.question{
  display: flex;
  width:100%;
  justify-content: center;
  align-items:center;
}
.elContainer input{
    outline:none;
    margin-right: 0px;
    padding: 0px !important;
    border-width: 0px !important;
    border-color:white !important;
    width:100%;
    border-radius: 10%;
    height:90px;
    font-size: 2em;
    text-align: center;
    font-weight:700;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 600px){
  .elContainer{
    display:flex;
    box-sizing: border-box;
    width:20%;
    height:50px;
    /* margin-right:10px; */
    background-color: white;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding:5px;
    font-size:1.2em;
}
h1{margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    font-size: 1.2em !important;
}
.elContainer input{
  outline:none;
  padding: 5px !important;
  border-width: 0px !important;
  border-color:white !important;
  width:100%;
  border-radius: 10%;
  height:auto;
  font-size: 1.3em;
  text-align: center;
  font-weight:500;
}
.elContainer:nth-child(5){
  margin-right: 0px;
}

  }